@model NewgenWebsoftBatch30.Models.Department

@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>
<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="editForm">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DeptId" />
            <div class="form-group">
                <label asp-for="DeptName" class="control-label"></label>
                <input asp-for="DeptName" class="form-control" required />
                <span asp-validation-for="DeptName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/DepartmentController.js"></script>
}